
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body{
    justify-content: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  background: #6563ff;
}
p{
    font-size: 20px;
  }
::selection{
    background: #6563ff;
  color: #fff;
  
}
.wrapper{
    background: #f8f8f8;
  border-radius: 10px;
  padding: 25px;
  
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.cards, .card, .view, .details, p{
    align-items: center;
  justify-content: center;
  display: flex;
  
}
.cards{
    flex-wrap: wrap;
  justify-content: space-between;
  height: 350px;
  width: 350px;
  
}
.cards .card{
    transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.cards .card .view{
  
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  background: #fff;
  border-radius: 7px;
  
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card.flip .back-view{
    transform: rotateY(0);
  }
.card .back-view img{
  max-width: 40px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card .front-view img{
    max-width: 17px;
  }
  .card .back-view{
    transform: rotateY(-180deg);
  }


.details{
  
  border-radius: 7px;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin-top: 15px;
  padding: 0 20px;
  height: calc(100% / 4 - 30px);
  
}
.details p span{
    margin-left: 8px;
  }
.details p{
    padding-right: 18px;
  border-right: 1px solid #ccc;
  font-size: 18px;
  height: 17px;
  
}


.details button{
    background: #fff;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  color: #6563ff;
  border-radius: 4px;
  padding: 4px 11px;
  
}
.details p b{
    font-weight: 500;
  }
.details button:hover{
    background: #6563ff;
  color: #fff;
  
}

@media screen and (max-width: 700px) {
    .card .back-view img{
        max-width: 40px;
      }
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    max-width: 16px;
  }
  
}

@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .back-view img{
    max-width: 35px;
  }
  
  .details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }
  .details button{
    
    border: none;
    color: #fff;
    background: #6563ff;
    font-size: 13px;
    padding: 5px 10px;
  }
}
